.age-confirm {
    height: 80vh;
    background-image: linear-gradient(lightgrey, grey), url("/assets/hero.jpg");
    background-blend-mode: multiply;
    width: 100%;
    display: block;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
    padding: 10%;
}
.text-box {
    width: 50%;
    margin: 5% 25%;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  
}

.age-message {
    color: white;
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: normal;
    position: relative;
}

.age-button {
    position: relative;
}

@media (max-width: 400px) {
    .age-message {
        font-size: 0.2em;

    }

    .text-box {
        width: 80%;
        margin: 5% 10%;
        border: 1px solid white;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        // flex-wrap: wrap;
      
    }
    
}