//Colours: 
$textColour: white;
$popColour: #e8677a;
$popTransColour: rgba(215, 111, 124, .5);
$neutralColour: #bababa;

//Fonts import:
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

$serifHeadFont: 'Libre Baskerville', serif;